body {    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto", helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
}

h1 {
    font-weight: bolder;
    font-size: 5rem;
}

.container {
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    order: 0;
    height: 30rem;
    width: 30rem;
}

.left > button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    height: 3rem;
    width: 15rem;
    border-radius: 0.2rem;
}
.left > button:hover {
    transform: scale(1.05);
}

.colorContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 0rem;
}

.colorContainer > .primaryColorContainer > input, .secondaryColorContainer > input {
    height: 2.5rem;
    width: 8rem;
    border: none;
    outline: none;
    overflow: hidden;
    background: #FFFFFF 0% 0%;
}

.primaryColorContainer, .secondaryColorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    order: 1;
}

.gridContainer {
    display: inline-grid;
    border: solid 2px black;
    flex-wrap: wrap;
    height: 30rem;
    width: 30rem;
}

#displayedGridSize {
    font-size: 1.5rem;
    font-weight: bold;
}

#resetButton {
    height: 2rem;
    width: 8rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-top: auto;
    font-size: 1.2rem;
}